version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.11  # CircleCI official Python image
    working_directory: ~/repo
    steps:
      - checkout  # clone your repo
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install pytest
      - run:
          name: Run tests
          command: |
            pytest tests --maxfail=1 --disable-warnings -q

workflows:
  version: 2
  test_workflow:
    jobs:
      - test
