version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.11  # use official CircleCI Python image
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      - run:
          name: Run tests
          command: |
            pytest tests/ --maxfail=1 --disable-warnings -q

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
